.body {
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.scrollable {
    overflow-y: scroll; /* Or 'auto' if you want it to show only when necessary */
  }
  
  .client::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
.client{
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */

    margin:5% 0;
}
h1 {
    font-size: 6em;

}
#updatedText {
  
  }

  .highlight {
    opacity: 1; /* Fully visible */
    transition: opacity 2s ease-in-out;
  }
  .fadeout {
    opacity: 0; /* Fully visible */
    transition: opacity 3s ease-in-out;
  }
 *{
color:lightgrey;
}
.removeText, .useText{
    cursor: pointer;
}

@media (max-width:770px){
    
}